API_KEY=<Your Api Key Here>
MAINTENANCE_CONNECTION_STRING=port=<Postgres Port Number> host=<Host IP> user=root password=toor<default user created by scripts, you may want to change this> dbname=posgres sslmode=disable
WORKING_CONNECTION_STRING=port=<Postgres Port Number> host=<Host IP> user=root password=toor<default user created by scripts, you may want to change this> dbname=<whatever is specified in the DATABASE_NAME variable> sslmode=disable
TEST_CONNECTION_STRING=<Postgres Port Number> host=<Host IP> user=root password=toor<default user created by scripts, you may want to change this> dbname=<whatever is specified in the DATABASE_NAME variable with 'test' at the end> sslmode=disable
DATABASE_NAME=<whatever db name you want, make sure this aligns with your connection strings>